<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="halmob.healthhub">

    <uses-feature android:name="android.hardware.CAMERA"/>
    <uses-feature android:name="android.hardware.CAMERA.FLASH"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".MainAcitivity" />
        <activity android:name=".StepCounterActivity" />
        <activity android:name=".MedicineActivity" />
        <activity android:name=".DiabActivity" />
        <activity android:name=".InsulinActivity" />
        <activity android:name=".BloodSugarActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".Sports_Activity" />
        <activity android:name=".addNewSportRecordActivity" />
        <activity android:name=".MedicineMainActivity" />
        <activity android:name=".MedicineListActivity" />
        <activity android:name=".BloodSugarListActivity" />
        <activity android:name=".InsulinDoseListActivity" />
        <activity android:name=".SampleReadActivity" />
        <activity android:name=".DiabTableActivity" />
        <activity android:name=".CameraDemoActivity" />
        <activity android:name=".MealActivity" />
        <activity android:name=".MealListActivity" />
        <activity android:name=".CarbCountListActivity" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MyNewIntentService"
            android:exported="false" />

        <activity android:name=".ReportActivity" />
        <activity android:name=".MedicalAnalysisActivity" />
        <activity android:name=".AddAnalysisActivity" />
        <activity android:name=".MedicalAnalysisReportsActivity" />
        <activity android:name=".UserSearchActivity" />

        <activity android:name=".ListSportRecordActivity"/>

        <activity android:name=".HeartRateMonitorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>