<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="halmob.healthhub">

    <uses-feature android:name="android.hardware.CAMERA" />
    <uses-feature android:name="android.hardware.CAMERA.FLASH" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StepCounterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MedicineActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DiabActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".InsulinActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BloodSugarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfilePageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Sports_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".addNewSportRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MedicineMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MedicineListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BloodSugarListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".InsulinDoseListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SampleReadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DiabTableActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CameraDemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MealActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MealListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CarbCountListActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".MyNewIntentService"
            android:exported="false" />

        <activity android:name=".ReportActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MedicalAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AddAnalysisActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MedicalAnalysisReportsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ListSportRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HeartRateMonitorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".addNewSportProgram"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddProspectusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ListProspectusActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ListSportProgramActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".WriteCommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReadCommentActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>